<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora home page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Posts</h1>

    <% for(post of posts){ %>
        <div class="post">
            <h3 class="user">@ <%= post.username %></h3>
            <h3 class="content"><%= post.content %></h3>

            <!-- ✅ Relative Routes -->
            <a class="btnn" href="/posts/<%= post.id %>">See in detail</a>
            <a class="btnn" href="/posts/<%= post.id %>/edit">Edit</a>

            <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
                 <button class="dlbtn">DELETE</button>
            </form>
        </div>
    <% } %>

    <br>

    <!-- ✅ Relative Route -->
    <a class="btn" href="/posts/new">Create new post</a>

</body>
</html>